{
    env: {
        node: true,
        es6: true
    },
    rules: {
        array-bracket-spacing: [2, "never"],
        block-scoped-var: 1,
        block-spacing: [1, "always"],
        brace-style: [1, "1tbs", {allowSingleLine: true}],
        camelcase: 1,
        comma-dangle: 1,
        comma-spacing: [1, {before: false, after: true}],
        complexity: [1, {max: 20}],
        constructor-super: "error",
        for-direction: 1,
        indent: [1, 2],
        linebreak-style: [2, "unix"],
        no-case-declarations: "error",
        no-class-assign: "error",
        no-compare-neg-zero: "error",
        no-cond-assign: "error",
        no-console: "error",
        no-const-assign: "error",
        no-constant-condition: 1,
        no-debugger: "error",
        no-delete-var: "error",
        no-dupe-args: "error",
        no-dupe-class-members: "error",
        no-dupe-keys: "error",
        no-duplicate-case: "error",
        no-empty: "error",
        no-empty-character-class: "error",
        no-empty-pattern: "error",
        no-ex-assign: "error",
        no-extra-boolean-cast: "error",
        no-extra-semi: "error",
        no-fallthrough: "error",
        no-func-assign: "error",
        no-global-assign: "error",
        no-inner-declarations: "error",
        no-invalid-regexp: "error",
        no-irregular-whitespace: "error",
        no-mixed-requires: 1,
        no-mixed-spaces-and-tabs: "error",
        no-new-func: 2,
        no-new-object: 2,
        no-new-require: 2,
        no-new-symbol: "error",
        no-obj-calls: "error",
        no-octal: "error",
        no-redeclare: "error",
        no-regex-spaces: "error",
        no-self-assign: "error",
        no-sparse-arrays: "error",
        no-tabs: 1,
        no-this-before-super: "error",
        no-undef: "error",
        no-unexpected-multiline: "error",
        no-unreachable: "error",
        no-unsafe-finally: "error",
        no-unsafe-negation: "error",
        no-unused-labels: "error",
        no-unused-vars: "error",
        no-useless-escape: "error",
        quotes: [1, "single"],
        require-yield: "error",
        semi: [2, "always"],
        strict: [2, "global"],
        use-isnan: "error",
        valid-typeof: "error"
    },
    parserOptions: {
        ecmaVersion: 8
    }
}